<h2>Reactive Form here</h2>
<h2 style="font-size: larger;">Please Fill the form Carefully.</h2>

<form [formGroup]="studentForm">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text"  name="name">
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input type="email"  name="email">
    </div>
    <div class="mb-3">
      <label class="form-label">Password</label>
      <input type="password" name="password">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="terms">
      <label class="form-check-label">Accept Terms and Conditions</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  