<h2>Reactive Form here</h2>
<h2 style="font-size: larger;">Please Fill the form Carefully.</h2>

<form [formGroup]="studentForm" (ngSubmit)="saveForm()">
  <div class="mb-3">
    <label class="form-label">Name</label>
    <input type="text" class="form-control" formControlName="name" name="name">
    <!-- <div class="alert alert-danger mt-2">
      
      @if (studentForm.controls['name'].touched) {
        @if (studentForm.controls['name'].errors?.['required']) {
          <span>Field is Required</span>
        }
        @if (studentForm.controls['name'].touched && studentForm.controls['name'].errors?.['minlength']) {
          <span>Min length is 4</span>
        }
      }
    </div> -->
  </div>

  <div class="mb-3">
    <label class="form-label">Email</label>
    <input type="email" class="form-control" formControlName="email" name="email">
  </div>
  <div class="mb-3">
    <label class="form-label">Password</label>
    <input type="password" class="form-control" formControlName="password" name="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" formControlName="isAcceptedTerms" name="terms">
    <label class="form-check-label">Accept Terms and Conditions</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<hr>
<br> <br>

@if (formValues) {
  <p>Here are your form values:</p>
  <pre>{{ formValues | json }}</pre>
}
