 <div class="container">
    <p></p>
    {{ toChild }}

    <h1>Signal Testing</h1>
    <div class="bg-warning inline-block p-4 text-black fw-bold">
        {{ fullName() }}  <br>  {{ cityList() }}  <br>  {{ stuObj().name}} {{ stuObj().city}}
    </div>
    <br>

    <div class="p-3">
        <button (click)="changeFirst()">Chagne first name</button> 
        <button (click)="changeLast()">Chagne last name</button> 
        <button (click)="addCity()">Add city</button> 
        <button (click)="changeObj()">Change Student</button> 
        <button (click)="sendData()">Send data to parent</button>
    </div>
<br> <hr>
    <p>Here is subject variable:</p>
    <h1>{{ subjectVar }}</h1>
    <br>
    <p>Here is Behaviour Subject variable:</p>
   <h1>{{ behaviourSubject }}</h1> 
</div>


