@if (login) {
  <div class="login-container d-flex justify-content-center align-items-center min-vh-100">
    <div class="login-card card p-4 shadow-lg">
      <div class="p-3 m-3 bg-dark text-white ">This Application API Only RUN on port 4209, Right now you can use User="admin", Pass="admin" <br>
      For development purpose, Change "onHardLogin() to onApiLogin() in `login` Component.</div>
      <div class="card-body">
        <h3 class="card-title text-center mb-4">Login</h3>

        <!-- Display Error Alert -->
        @if (errorMessage) {
          <div class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>
        }

        <form (ngSubmit)="onHardLogin()">
          <div class="form-group mb-3">
            <label for="email">Email address</label>
            <input type="email" class="form-control" [(ngModel)]="userObj.emailId" name="emailId" id="email" placeholder="Enter email" required>
          </div>
          <div class="form-group mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" [(ngModel)]="userObj.Password" name="Password" id="Password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-gradient w-100"><span class="fw-bolder">Login</span></button>
        </form>
        <div class="text-center mt-3">
          <a routerLink="/signup" class="btn btn-success w-100"><span class="fw-bold">Sign Up</span></a>
        </div>
      </div>
    </div>
  </div>
} @else {
  <app-signup></app-signup>
}
