<h1 style=" font-style: italc; text-align: center; margin-top: 50px;"> Choose which form to display</h1>

<div class="w-100 d-flex">
    <div class="w-50 d-flex justify-content-center align-items-center min-h-150">
        <button (click)="template()" class="btn btn-primary" style="border-radius: 5px;">Show Template Form</button>
    </div>
    <div class="w-50 d-flex justify-content-center align-items-center min-h-150">
        <button (click)="reactive()" class="btn btn-primary" style="border-radius: 5px;">Show Reactive Form</button>
    </div>
</div>



@if(templateform){
    <app-template></app-template>
}
@else if(reactiveform){
    <app-reactive></app-reactive>
}