<nav class="navbar navbar-expand-lg bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active font-weight-bold text-uppercase mx-3" href="#">Home</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-header">Header</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-navbar">Navbar</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-hero">Hero Image</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-form">Form</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-postTitle">Post-title</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-pipes">Pipes</a>
        <a class="nav-item nav-link font-weight-bold text-uppercase mx-3" routerLink="add-api">API</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>