<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav custom-navbar">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="add-header">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-navbar">Navbar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-app-life-cycle-events">LifeCycle</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-hero">Hero Image</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-form">Form</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-postTitle">Post-title</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-pipes">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="add-apicomp">API</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>